# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode and PyCharm settings
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db
